<div class="contents row" >
  <p><%= @name %>さんの投稿一覧</p>
  <% @images.each do |image| %>
    <div class="content_post" style="background-image: url(<%= image.image %>);">
      <%= simple_format(image.text) %>
    </div>
  <% end %>
</div>
