.header {
  width: 100%;
  height: 77px;
  // background-color: #fff;
  background-color: green;
  top: 0;
  position: fixed;
  .header__box {
    width: 100%;
    height: 77px;
    padding: 26px 40px;
    max-width: 900px;
    margin: 0 auto;
    background-color: red;
    .logo {
      .logo__image {

      }
      .logo__name{

      }
    }
    .icon {

    }
  }
}
