.user__header {
  background-color: red;
  height: 300px;
  width: 100%;
  padding: 50px;
  .user__header__img {
    background-color: green;
    height: 200px;
    width: 200px;
    float: left;
  }
  .user__header__right {
    height: 200px;
    width: 300px;
    float: right;
    .header__right__top {
      background-color: yellow;
      height: 100px;
      width: 300px;
      padding-top: 15px;
      .user__name {
        background-color: white;
        height: 70px;
        width: 50%;
        float: left;
      }
      .user__edit {
        background-color: gray;
        height: 70px;
        width: 50%;
        float: right;
      }
    }
    .header__right__bottom {
      background-color: green;
      height: 100px;
      width: 100%;
      padding-top: 15px;
      .follower {
        background-color: white;
        height: 70px;
        width: 33.3%;
        float: left;
      }
      .followed {
        background-color: blue;
        height: 70px;
        width: 33.3%;
        float: left;
      }
      .like {
        background-color: yellow;
        height: 70px;
        width: 33.3%;
        float: left;
      }
    }
  }
}
