.user__header {
  height: 300px;
  width: 100%;
  padding: 50px;
  margin-bottom: 20px;
  background-color: white;
  .user__header__img {
    height: 200px;
    width: 200px;
    float: left;
    .img {
      height: 100%;
      width: 100%;
    }
  }
  .user__header__right {
    height: 200px;
    width: 350px;
    float: right;
    .header__right__top {
      height: 100px;
      width: 100%;
      padding-top: 15px;
      line-height: 70px;
      text-align: center;
      .user__name {
        height: 70px;
        width: 50%;
        float: left;
      }
      .user__edit {
        height: 70px;
        width: 50%;
        float: right;
      }
    }
    .header__right__bottom {
      height: 100px;
      width: 100%;
      padding-top: 15px;
      line-height: 70px;
      text-align: center;
      .follower {
        height: 70px;
        width: 33.3%;
        float: left;
      }
      .followed {
        height: 70px;
        width: 33.3%;
        float: left;
      }
      .like {
        height: 70px;
        width: 33.3%;
        float: left;
      }
    }
  }
}
